::-webkit-input-placeholder {
   text-align: center;
   font-size: 1vw;
}

option{
	color: black;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   font-size: 1vw;
}

::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;
    font-size: 1vw;
}

:-ms-input-placeholder {
    text-align: center;
	font-size: 1vw;
}

#mainBox::-webkit-input-placeholder {
   text-align: center;
   line-height: 16vh;
   font-size: 1.5vw;
}

#mainBox:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   font-size: 1vw;
}

#mainBox::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;
    font-size: 1vw;
}

#mainBox:-ms-input-placeholder {
    text-align: center;
	font-size: 1vw;
}

body{
	background: url('../img/bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

#logo{
	margin: 1% auto;
	width: 35%;
	height: auto;
}

#buttonEntrar {
	margin: 0 auto;
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-top: 3%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonEntrar:hover{
     background-color: #666fff;
}

#buttonCadastraUsuario{
	margin: 0 auto;
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-bottom: 5%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonCadastraUsuario:hover{
     background-color: #666fff;
}

#formulario{
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 3%;
	width: 60%;
	height: auto;
	background-color: white;
	border-radius: 10px;
}

#userLogo{
	float: left;
	width: 5%;
	height: auto;
	margin: 0 auto;
	margin-top: 10%;
	margin-left: 23%;
}

#login{
	text-align: center;
	margin: 0 auto;
	margin-top: 10%;
	margin-left: -23%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
}

#pwLogo{
	float: left;
	width: 5%;
	height: auto;
	margin: 0 auto;
	margin-top: 2%;
	margin-left: 23%;
}

#senha{
	text-align: center;
	margin: 0 auto;
	margin-top: 2%;
	margin-left: -23%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
}

#nome{
	text-align: center;
	margin: 0 auto;
	margin-top: 2%;
	margin-right: 1%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
}

#nomeUsuario{
	text-align: center;
	margin: 0 auto;
	margin-top: 2%;
	margin-left: 1%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
}

#cadastroSenha{
	text-align: center;
	margin: 0 auto;
	margin-top: 2%;
	margin-right: 1%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
}

#confereSenha{
	text-align: center;
	margin: 0 auto;
	margin-top: 2%;
	margin-left: 1%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
	width: 45%;	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
}

#buttonConfirmaCadastro{
	margin: 0 auto;
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonCancela{
	margin: 0 auto;
	height: 5%;
	background-color: #e50000;
	color: white;
	border-color: #e50000;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonAdd{
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 1%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonAdd:hover{
     background-color: #666fff;
}

#buttonExibir{
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-top: 3%;
	margin-left: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonExibir:hover{
     background-color: #666fff;
}

#inicio{
	margin: 0 auto;
	font-size: 300%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#selectable{
	border-collapse: separate;
	border-spacing: 10%;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 3%;
	width: 80%;
	height: auto;
}

#selectable .ui-selected {
	background-color: #F39814;
	color: black;
}

#linhaCinza{
	text-align: center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 150%;
	width: 100%;
	padding: 2%;
	background-color: lightgray;
}

#linhaAzul{
	text-align: center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 150%;
	width: 100%;
	padding: 2%;
	background-color: #6666ff;
	color: white;
}

#buttonPreview{
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-left: 10%;
	margin-bottom: 2%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonEdit{
	height: 5%;
	background-color: #6666ff;
	color: white;
	border-color: #6666ff;
	margin-left: 5%;
	margin-bottom: 1%;
	border-radius: 5px;
	font-size: 110%;
}

#buttonDelete{
	height: 5%;
	background-color: #e50000;
	color: white;
	border-color: #e50000;
	margin-left: 50%;
	margin-bottom: 1%;
	border-radius: 5px;
	font-size: 110%;
}

#imgBox{
	float: right;
	margin-right: 3%;
	font-family: Calibi, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-top: 3%;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
	padding-left: 10px;
	padding-right: 10px;
}

#tagBox{
	margin-left: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-top: 3%;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
	padding-left: 10px;
	padding-right: 10px;
}

#titleBox{
	float: left;
	margin-left: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-top: 3%;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
	padding-left: 10px;
	padding-right: 10px;
}

#fontBox{
	float: right;
	margin-right: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	margin-top: 3%;
	width: 45%;
	height: 7%;
	border: solid black 1px;
	font-size: 1vw;
	padding-left: 10px;
	padding-right: 10px;
}

#descriptionBox{
	float: center;
	margin-right: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 110%;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	width: 94%;
	height: 15%;
	border: solid black 1px;
	font-size: 1vw;
	padding-left: 10px;
	padding-right: 10px;
}

#mainBox{
	background-color: rgba(255,255,255,0.3);
	float: center;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1vw;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	width: 94%;
	height: 29%;
	border: solid black 1px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

#buttonCadastrar{
	width: 10%;
	height: 5%;
	border-radius: 5px;
	margin-top: 2%;
	margin-bottom: 1%;
	border: solid white 1px;
	color: white;
	background-color: #6666ff;
	border-color: #6666ff;
	font-size: 110%;
}

#titleChars{
	position: absolute;
	margin: 0 auto;
	margin-top: 5.8%;
	margin-left: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#descChars{
	float: left;
	position: absolute;
	margin: 0 auto;
	margin-top: 0.5%;
	margin-left: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#chars{
	float: left;
	position: absolute;
	margin: 0 auto;
	margin-top: 0.5%;
	margin-left: 3%;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#buttonCadastrar:hover{
     background-color: #666fff;
}
